<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Title and favicon -->
    <title>Estudio</title>
    <link rel="icon" href="./static/images/logoUniConnect.png" type="image/png">

    <!-- CSS files -->
    <link rel="stylesheet" href="./static/fonts/flaticon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/responsive.css">
    <link rel="stylesheet" href="./static/css/color_2.css">
    <link rel="stylesheet" href="./static/css/bootstrap-select.css">
    <link rel="stylesheet" href="./static/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="./static/css/custom.css">
    <link rel="stylesheet" href="./static/css/semantic.min.css">
    <link rel="stylesheet" href="./static/css/jquery.fancybox.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />

</head>
   
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="/cargar_imagen" alt="#" /></div>
                        <div class="user_info">
                           <h6>{{ user_profile['name'] }} {{ user_profile['last_name'] }}</h6>
                           <p><span class="online_animation"></span> {{ user_profile['status'] }} </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">
                     <li class="active"><a href="/dashboard" class="dropdown-item"><i class="fas fa-house-user blue1_color"></i> <span>Inicio</span></a></li>
                        <li><a href="/archivos" class="dropdown-item"><i class="fas fa-book orange_color"></i> <span>Archivos</span></a></li>
                        <li><a href="/contact" class="dropdown-item"><i class="fa fa-users red_color"></i> <span>Tutores</span></a></li>
                        <li><a href="/estudio" class="dropdown-item"><i class="fas fa-graduation-cap" style="--fa-primary-color: #22511f; --fa-secondary-color: #2cca21;"></i> <span>Estudio</span></a></li>
                        <li><a href="/podcast" class="dropdown-item"><i class="fas fa-microphone purple_color"></i> <span>Podcast</span></a></li>
                        <li><a href="/chatbot" class="dropdown-item"><i class="fas fa-comment" style="color: #2f73e9;"></i> <span>Chatbot</span></a></li>
                        <li><a href="/jarvis" class="dropdown-item"><i class="fas fa-robot" style="color: #3f2fe9;"></i><span>JARVIS</span></a></li>
                        {% if tutor %}
                            <li><a href="/tutelados" class="dropdown-item"><i class="fa fa-paper-plane red_color" style="color: #2f73e9;"></i> <span>Tutelados</span></a></li>
                        {% endif %}
                        {% if tutor %}
                            <li><a class="dropdown-item" href="/profileTutor"><span>Perfil</span><i class="fas fa-user" style="color: rgb(58, 145, 239);"></i></a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="/profile"><span>Perfil</span><i class="fas fa-user"></i></a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="/salir" formaction="/salir"><span>Salir</span> <i
                                                class="fas fa-sign-out-alt"></i></a></li>
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="/dashboard"><img class="img-responsive" src="../static/images/logoUniConnect.png" alt="#" /></a>
                           <h4>Uniconnect</h4>
                       </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <ul>
                                 <li><a class = "boton_notificacion_bell" href="#" onclick="toggleNotificationPopup(event)">
                                      <i class="fas fa-bell"></i>
                                      <span class="badge" id="notificacionesBadge" style="background-color: white; color: black;">{{ longitud }} </span>
                                 </a></li>
                              </ul>
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                       <div class="user_img_lateral"><img class="img-responsive" src="/cargar_imagen" alt="#" /></div>
                                       <span class="name_user">{{ user_profile['name'] }} {{ user_profile['last_name'] }}</span></a>
                                    <div class="dropdown-menu">
                                       {% if tutor %}
                                           <a class="dropdown-item" href="/profileTutor">Perfil</a>
                                       {% else %}
                                           <a class="dropdown-item" href="/profile">Perfil</a>
                                       {% endif %}
                                       <a class="dropdown-item" href="/salir" formaction="/salir"><span>Salir</span> <i class="fas fa-sign-out-alt"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <div class="notification-popup" id="ventanaNotificaciones">
                  <h3><br>Notificaciones</h3>
                  {% for notificacion in notificaciones %}
                     {% if notificacion.mensaje == "Tutoria aceptada!!!" %}
                         <a href="#" class="notification" onclick="borrarNotis('{{ notificacion.id_user }}')">
                             {{ notificacion.mensaje }}
                         </a>
                     {% else %}
                         <a href="#" class="notification" onclick="confirmarAccion('{{ notificacion.id_user }}')">
                             {{ notificacion.mensaje }}
                         </a>
                     {% endif %}
                 {% endfor %}
             </div>
               <!-- end topbar -->
                  
               <!-- Dashboard inner -->
               <div class="midde_cont">

                  <div class="container-fluid">
                     <div class="page_title">
                        <h2>Grupos de Estudio</h2>
                     </div>
                  </div>
                  
               </div>
               
               <div class="container-fluid">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-12">

                           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createStudyGroupModal">
                              Crear grupo de estudio
                           </button>   
                           <br><br>

                           <div class="table-responsive">
                              <!--h2>Grupos</h2-->
                              <table class="table table-collapse table-hover">
                                 <caption>Lista de grupos de estudio</caption>
                                 <thead class="thead-light">
                                    <tr>
                                       <th scope="col">Titulo</th>
                                       <th scope="col">Asignatura</th>
                                       <th scope="col">Dónde</th>
                                       <th scope="col">Día</th>
                                       <th scope="col">Hora</th>
                                       <th scope="col">Creado por</th>
                                       <th scope="col">Participantes</th>
                                    </tr>
                                 </thead>
                                 <tbody id="studyGroupsTable">
                                    {% for group in groups %}
                                    <tr>
                                       <td>{{ group.title }}</td>
                                       <td>{{ group.subject }}</td>
                                       <td>{{ group.location }}</td>
                                       <td>{{ group.days }}</td>
                                       <td>{{ group.time }}</td>
                                       <td>{{ group.creator }}</td>

                                       <td>
                                          <button class="btn btn-default showFire" onclick="joinStudyGroup('{{ group.id_group }}', {{ loop.index }}, '{{ user_profile['name'] }} {{ user_profile['last_name'] }}')" data-groupid="{{ group.id_group }}">
                                             <span class="glyphicon glyphicon-fire"></span> 
                                             {% if user_profile['name'] ~ ' ' ~ user_profile['last_name'] in group.participants %}
                                                 ¡Te has apuntado!
                                             {% else %}
                                                 Me quiero unir
                                             {% endif %}
                                         </button>
                                       </td>
                                      
                                       <td>
                                          <button class="btn btn-info" data-toggle="modal" data-target="#participantsModal{{ group.id_group }}">
                                             Ver Participantes
                                          </button>
                                          <div class="modal fade" id="participantsModal{{ group.id_group }}" tabindex="-1" role="dialog" aria-labelledby="participantsModalLabel" aria-hidden="true">
                                             <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                   <div class="modal-header">
                                                      <h5 class="modal-title" id="participantsModalLabel">Participantes</h5>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                         <span aria-hidden="true">&times;</span>
                                                      </button>
                                                   </div>
                                                   <div class="modal-body">
                                                      {% for participant in group.participants %}
                                                         <p>{{ participant }}</p>
                                                      {% endfor %}
                                                   </div>
                                                   <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </td>

                                       <td>
                                          {% if user_profile['email'] == group.creator_mail %}
                                             <button class="btn btn-danger" onclick="deleteStudyGroup('{{ group.id_group }}', {{ loop.index0 }})">Eliminar</button>
                                          {% endif %}
                                       </td>
                        
                                    </tr>
                                    {% endfor %}
                                 </tbody>
                                 <tbody id="studyGroupTableBody">
                                    <!-- Existing study groups will be added here -->
                                 </tbody>
                              </table>

                           </div>
                        </div>
                     </div>
                  </div>

                     <!-- footer -->
                     <div class="container-fluid">
                        <div class="footer">
                           <p>Copyright © 2023 Designed by CEU San Pablo University. All rights reserved.</p>
                        </div>
                     </div>
 
                     <!-- Modal de crear grupo -->
                     <div class="modal fade" id="createStudyGroupModal" tabindex="-1" role="dialog" 
                        aria-labelledby="createStudyGroupModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content" style="margin-top: 200px;">
                              <div class="modal-header">
                                    <h5 class="modal-title" id="createStudyGroupModalLabel">Crear Grupo de Estudio</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                    </button>
                              </div>
                              <div class="modal-body">
                                    <!-- Form for study group information -->
                                    <form action="/estudio" method="post" id="studyGroupForm">

                                       <div class="form-group">
                                          <label for="title">Titulo:</label>
                                          <input type="text" class="form-control" id="title" 
                                          placeholder="Ingrese un titulo para el grupo de estudio" name="title" required>
                                       </div>

                                       <div class="form-group">
                                          <label for="subject">Asignatura:</label>
                                          <input type="text" class="form-control" id="subject" 
                                          placeholder="Ingrese la asignatura" name="subject" required>
                                       </div>

                                       <div class="form-group">
                                          <label for="location">Dónde:</label>
                                          <input type="text" class="form-control" id="location" name="location" required>
                                       </div>

                                       <div class="form-group">
                                          <label for="days">Qué día:</label>
                                          <input type="date" class="form-control" id="days" name="days" required>
                                       </div>

                                       <div class="form-group">
                                          <label for="time">Hora:</label>
                                          <input type="time" class="form-control" id="time" name="time" required>
                                       </div>

                                       <!--div class="form-group">
                                          <label for="description">Descripcion:</label>
                                          <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                                       </div-->

                                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                       <button type="submit" class="btn btn-primary" id="createGroupBtn">Crear grupo de estudio</button>
                                    </form>
                              </div>
                           </div>
                        </div>
                     </div>

               </div>

            </div>
         </div>
      </div>

      <!-- jQuery, Popper.js, and Bootstrap -->
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <!-- Other libraries and plugins -->
      <script type="text/javascript" src="path_to/jquery.leanModal.min.js"></script>
      <script src="./static/js/animate.js"></script>
      <script src="./static/js/bootstrap-select.js"></script>
      <script src="./static/js/owl.carousel.js"></script> 
      <script src="./static/js/Chart.min.js"></script>
      <script src="./static/js/Chart.bundle.min.js"></script>
      <script src="./static/js/utils.js"></script>
      <script src="./static/js/analyser.js"></script>
      <script src="./static/js/perfect-scrollbar.min.js"></script>
      <script src="./static/js/jquery.fancybox.min.js"></script>
      <script src="./static/js/custom.js"></script>
      <script src="./static/js/custom2.js"></script>
      <script src="./static/js/semantic.min.js"></script>

      <!-- FullCalendar -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

      <!--JavaScript to handle the creation of the study groups and storing in the table study_groups-->
      <script src="./static/js/study_group.js"></script>

      <!-- SweetAlert Script -->
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

      <script src="./static/js/estudio.js"></script>

      <script>
         function deleteStudyGroup(id_group, rowIndex) {
            Swal.fire({
               title: '¿Seguro?',
               text: '¡El grupo de estudio se eliminará permanentemente!',
               icon: 'warning',
               showCancelButton: true,
               confirmButtonColor: '#d33',
               cancelButtonColor: '#3085d6',
               confirmButtonText: 'Sí, eliminar grupo'
            }).then((result) => {
               if (result.isConfirmed) {
                     fetch('/delete_study_group/' + id_group, {
                        method: 'DELETE',
                        headers: {
                           'Content-Type': 'application/json'
                        },
                     })
                     .then(response => response.json())
                     .then(data => {
                        if (data.success) {
                           Swal.fire(
                                 '¡Hecho!',
                                 'Tu grupo de estudio se ha borrado.',
                                 'success'
                           );
                           
                           var table = document.getElementById('studyGroupsTable');
                           table.deleteRow(rowIndex);
                        } else {
                           Swal.fire(
                                 '¡Error!',
                                 'No se ha podido eliminar el grupo.',
                                 'error'
                           );
                        }
                     })
                     .catch(error => {
                        console.error('Error:', error);
                        Swal.fire(
                           '¡Error!',
                           'Ha ocurrido un error mientras procesábamos tu petición, inténtalo de nuevo más tarde.',
                           'error'
                        );
                     });
               }
            });
         }
      </script>

      <script>
         function joinStudyGroup(id_group, rowIndex, participantName) {
            // Check if the participant has already joined
            var isJoined = $('#participantsModal' + id_group + ' .modal-body:contains("' + participantName + '")').length > 0;

            
            if (!isJoined) {
               $.ajax({
                     url: '/join_study_group/' + id_group,
                     type: 'POST',
                     dataType: 'json',
                     success: function (response) {
                        if (response.success) {
                           var $button = $('.showFire[data-groupid="' + id_group + '"]');
                           var $icon = $button.find('span');

                           $button.toggleClass('active');
                           $icon.removeClass('glyphicon-fire').addClass('glyphicon-ok');
                           $button.text('¡Te has apuntado!');

                           Swal.fire({
                                 icon: 'success',
                                 title: '¡Hecho!',
                                 text: 'Te has unido al grupo exitosamente.',
                           });

                           // Update the participants modal
                           var modalBody = $('#participantsModal' + id_group + ' .modal-body');
                           modalBody.append('<p>' + participantName + '</p>');
                        } else {
                           Swal.fire({
                                 icon: 'error',
                                 title: '¡Error!',
                                 text: 'No se ha podido unir al grupo. Por favor, intenta de nuevo.',
                           });
                        }
                     },
                     error: function (error) {
                        console.error('Error:', error);
                     }
               });
            } else {
               // User is already joined, show a message or handle it as needed
               Swal.fire({
                     icon: 'info',
                     title: '¡Información!',
                     text: 'Ya te has unido a este grupo.',
               });
            }
         }

      </script>

   </body>
</html>
