<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Title and favicon -->
    <title>Grupos de estudio</title>
    <link rel="icon" href="./static/images/logoUniConnect.png" type="image/png">

    <!-- CSS files -->
    <link rel="stylesheet" href="./static/fonts/flaticon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/responsive.css">
    <link rel="stylesheet" href="./static/css/color_2.css">
    <link rel="stylesheet" href="./static/css/bootstrap-select.css">
    <link rel="stylesheet" href="./static/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="./static/css/custom.css">
    <link rel="stylesheet" href="./static/css/semantic.min.css">
    <link rel="stylesheet" href="./static/css/jquery.fancybox.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>
   
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="/cargar_imagen" alt="#" /></div>
                        <div class="user_info">
                           <h6>{{ user_profile['name'] }} {{ user_profile['last_name'] }}</h6>
                           <p><span class="online_animation"></span> {{ user_profile['status'] }} </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">
                     <li class="active">
                        <a href="/dashboard"><i class="fas fa-house-user blue1_color"></i> <span>Inicio</span></a>
                     </li>
                     <li><a href="/archivos"><i class="fas fa-book orange_color"></i> <span>Archivos</span></a></li>
                     <li><a href="/contact"><i class="fa fa-paper-plane red_color"></i> <span>Tutores</span></a></li>
                     <li><a href="/profile"><i class="fas fa-user" style="color: #1de2de;"></i> <span>Perfil</span></a></li>
                     <li><a href="/estudio"><i class="fas fa-graduation-cap" style="--fa-primary-color: #22511f; --fa-secondary-color: #2cca21;"></i> <span>Estudio</span></a></li>
                     <li><a href="/podcast"><i class="fas fa-microphone purple_color"></i> <span>Podcast</span></a></li>
                     <li><a href="/chatbot"><i class="fas fa-robot" style="color: #2f73e9;"></i> <span>Chatbot</span></a></li>
                     {% if tutor %}
                        <li><a href="/tutelados"><i class="fa fa-paper-plane red_color" style="color: #2f73e9;"></i> <span>Tutelados</span></a></li>
                     {% endif %}
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="/dashboard"><img class="img-responsive" src="../static/images/logoUniConnect.png" alt="#" /></a>
                           <h4>Uniconnect</h4>
                       </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <ul>
                                 <li><a class = "boton_notificacion_bell" href="#" onclick="toggleNotificationPopup(event)">
                                      <i class="fas fa-bell"></i>
                                      <span class="badge" id="notificacionesBadge" style="background-color: white; color: black;">{{ longitud }} </span>
                                 </a></li>
                              </ul>
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                       <span class="name_user">{{ user_profile['name'] }} {{ user_profile['last_name'] }}</span></a>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="/profile">Perfil</a>
                                       <a class="dropdown-item" href="/salir" formaction="/salir"><span>Salir</span> <i class="fas fa-sign-out-alt"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <div class="notification-popup" id="ventanaNotificaciones">
                    <h3><br>Notificaciones</h3>
                    {% for notificacion in notificaciones %}
                        <a href="#" class="notification" onclick="confirmarAccion('{{ notificacion.id_user }}')">
                            {{ notificacion.mensaje }}
                        </a>
                    {% endfor %}
               </div>
               <!-- end topbar -->
                  
               <!-- Dashboard inner -->
               <div class="midde_cont">

                  <div class="container-fluid">
                     <div class="page_title">
                        <h2>Grupos de Estudio</h2>
                     </div>
                  </div>
                  
               </div>
               
               <div class="container-fluid">

                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createStudyGroupModal">
                     Crear grupo de estudio
                  </button>   

                  <br><br>
                     <div>
                        <!--h2>Grupos</h2-->
                        <table class="table table-striped table-hover">
                           <caption>Lista de grupos de estudio</caption>
                           <thead class="thead-light">
                              <tr>
                                 <th scope="col">Titulo</th>
                                 <th scope="col">Asignatura</th>
                                 <th scope="col">Dónde</th>
                                 <th scope="col">Día</th>
                                 <th scope="col">Hora</th>
                                 <th scope="col">Descripcion</th>
                                 <th scope="col">Creado por</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for group in groups %}
                                 <tr>
                                 <td>{{ group.title }}</td>
                                 <td>{{ group.subject }}</td>
                                 <td>{{ group.location }}</td>
                                 <td>{{ group.days }}</td>
                                 <td>{{ group.time }}</td>
                                 <td>{{ group.get('description', '') }}</td>
                                 <td>{{ group.creator }}</td>
                                 <td>
                                    <button type="button" class="btn btn-danger btn-sm" onclick="showDeleteConfirmationModal({{ group.id_group }})">Delete</button>
                                 </td>
                                 </tr>
                              {% endfor %}
                           </tbody>
                           <tbody id="studyGroupTableBody">
                              <!-- Existing study groups will be added here -->
                           </tbody>
                        </table>
                     </div>

                     <!-- footer -->
                     <div class="container-fluid">
                        <div class="footer">
                           <p>Copyright © 2023 Designed by CEU San Pablo University. All rights reserved.</p>
                        </div>
                     </div>
 
                     <!-- Modal de crear grupo -->
                     <div class="modal fade" id="createStudyGroupModal" tabindex="-1" role="dialog" 
                        aria-labelledby="createStudyGroupModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content" style="margin-top: 200px;">
                              <div class="modal-header">
                                    <h5 class="modal-title" id="createStudyGroupModalLabel">Crear Grupo de Estudio</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                    </button>
                              </div>
                              <div class="modal-body">
                                    <!-- Form for study group information -->
                                    <form action="/estudio" method="post" id="studyGroupForm">

                                       <div class="form-group">
                                          <label for="title">Titulo:</label>
                                          <input type="text" class="form-control" id="title" 
                                          placeholder="Ingrese un titulo para el grupo de estudio" name="title" required>
                                       </div>

                                       <div class="form-group">
                                          <label for="subject">Asignatura:</label>
                                          <input type="text" class="form-control" id="subject" 
                                          placeholder="Ingrese la asignatura" name="subject" required>
                                       </div>

                                       <div class="form-group">
                                          <label for="location">Dónde:</label>
                                          <input type="text" class="form-control" id="location" name="location" required>
                                       </div>

                                       <div class="form-group">
                                          <label for="days">Qué día:</label>
                                          <input type="date" class="form-control" id="days" name="days" required>
                                       </div>

                                       <div class="form-group">
                                          <label for="time">Hora:</label>
                                          <input type="time" class="form-control" id="time" name="time" required>
                                       </div>

                                       <div class="form-group">
                                          <label for="description">Descripcion:</label>
                                          <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                                       </div>

                                       <!--button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button-->
                                       <button type="submit" class="btn btn-primary" id="createGroupBtn">Crear grupo de estudio</button>
                                    </form>
                              </div>
                           </div>
                        </div>
                     </div>


                     <!-- Confirmation Modal for Deleting Study Group -->
                     <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="confirmDeleteModalLabel">Eliminar grupo</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                                 ¿Quieres borrar este grupo de estudio?
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                 <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Borrar</button>
                              </div>
                           </div>
                        </div>
                     </div>

               </div>

            </div>
         </div>
      </div>

      <!-- jQuery, Popper.js, and Bootstrap -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <!-- Other libraries and plugins -->
      <script type="text/javascript" src="path_to/jquery.leanModal.min.js"></script>
      <script src="./static/js/animate.js"></script>
      <script src="./static/js/bootstrap-select.js"></script>
      <script src="./static/js/owl.carousel.js"></script> 
      <script src="./static/js/Chart.min.js"></script>
      <script src="./static/js/Chart.bundle.min.js"></script>
      <script src="./static/js/utils.js"></script>
      <script src="./static/js/analyser.js"></script>
      <script src="./static/js/perfect-scrollbar.min.js"></script>
      <script src="./static/js/jquery.fancybox.min.js"></script>
      <script src="./static/js/custom.js"></script>
      <script src="./static/js/custom2.js"></script>
      <script src="./static/js/semantic.min.js"></script>

      <!-- FullCalendar -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

      <!--JavaScript to handle the creation of the study groups and storing in the table study_groups-->
      <script src="./static/js/study_group.js"></script>

      <!-- SweetAlert Script -->
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

      <script>
         // Function to show SweetAlert for success message
         function showSuccessAlert(message) {
            Swal.fire({
               icon: 'success',
               title: '¡Se ha creado el grupo con éxito!',
               text: message,
               timer: 3000, // 3 seconds
               timerProgressBar: true,
               showConfirmButton: false
            });
         }
      
         // Function to show confirmation modal for deleting a study group
         function showDeleteConfirmationModal(groupId) {
            $('#confirmDeleteModal').modal('show');
      
            // Handle the click on the Delete button in the confirmation modal
            $('#confirmDeleteBtn').on('click', function () {
               deleteStudyGroup(groupId);
               $('#confirmDeleteModal').modal('hide');
            });
         }
      </script>


   </body>
</html>
