<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- font cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- css file link -->
    <link rel="stylesheet" href="css/style.css">


</head>
<body>
   <!-- header section starts--> 
 
 <header class="header">
    <section class="flex">
        <a href="home.html" class="logo">
            <img src="images/logoUniConnect.png" alt="Logo UniConnect">
            UniConnect
        </a>
        <form action="" method="post" class="search-form">
            <input type="text" name="search_box" placeholder="search..." required maxlength="100">
            <button type="submit" class="fas fa-search" name="search_box"></button>
        </form>
        <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div>
            <div id="search-btn" class="fas fa-search"></div>
            <div id="user-btn" class="fas fa-user"></div>  
            <div id="toggle-btn" class="fas fa-sun"></div>
        </div>
        <div class="profile">
            <img src="images/userPhoto.png" alt="">
            <h3>Dulibeth Medina</h3>
            <span>Estudiante</span>
            <a href="profile.html" class="btn">Ver perfil</a>
        </div>
    </section>
</header>

 
 <!-- header section ends-->  

 <!-- side bar section starts -->

    <div class="side-bar">
        <div class="close-side-bar">
            <i class="fas fa-times">

            </i>
        </div>
        <div class="profile">
            <img src="images/userPhoto.png" alt="">
            <h3>Dulibeth Medina</h3>
            <span>Estudiante</span>
            <a href="profile.html" class="btn">Ver perfil</a>
        </div>

        <nav class="navbar">
            <a href="home.html"><i class="fas fa-home"></i><span>Inicio</span></a>
            <a href="subjects.html"><i class="fas fa-graduation-cap"></i><span>Asignaturas</span></a>
            <a href="tutors.html"><i class="fas fa-chalkboard-user"></i><span>Tutores</span></a>        
        </nav>
    </div>
<!-- side bar section ends-->

<!--profile section starts-->
<form id="profileForm">
    <label for="firstName">Nombre:</label>
    <input type="text" id="firstName" name="firstName"><br>

    <label for="lastName">Apellido:</label>
    <input type="text" id="lastName" name="lastName"><br>

    <label for="email">Correo Electrónico:</label>
    <input type="email" id="email" name="email"><br>

    <button type="button" onclick="guardarPerfil()">Guardar Cambios</button>
</form>

<!--profile section ends-->

 <!-- js file link -->
 <script src="js/script.js"></script>

</body>
</html>