<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>

    <!-- font cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- css file link -->
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
   <!-- header section starts--> 
 
 <header class="header">
    <section class="flex">
        <a href="/home" class="logo">
            <img src="static/images/logoUniConnect.png" alt="Logo UniConnect">
            <h1>UniConnect</h1>
        </a>
        <form action="" method="post" class="search-form">
            <input type="text" name="search_box" placeholder="Buscar..." required maxlength="100">
            <button type="submit" class="fas fa-search" name="search_box"></button>
        </form>
        <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div>
            <div id="search-btn" class="fas fa-search"></div>
            <div id="user-btn" class="fas fa-user"></div>  
            <div id="toggle-btn" class="fas fa-sun"></div>
        </div>
        <div class="profile">
            <img src="{{ user_profile['photo_url'] }}" alt="{{ user_profile['name'] }}">
            <h3>{{ session['name'] }} {{ session['last_name'] }}</h3>
            <h2>{{ user_profile['role'] }}</h2>
            <a href="profile.html" class="btn">Ver perfil</a>
        </div>
    </section>
</header>

 
 <!-- header section ends-->  

 <!-- side bar section starts -->

    <div class="side-bar">
        <div class="close-side-bar">
            <i class="fas fa-times">

            </i>
        </div>
        <div class="profile">
            <img src="{{ user_profile['photo_url'] }}" alt="{{ user_profile['name'] }}">
            <h3>{{ session['name'] }} {{ session['last_name'] }}</h3>
            <h2>{{ user_profile['role'] }}</h2>
            <a href="profile.html" class="btn">Ver perfil</a>
        </div>

        <nav class="navbar">
            <a href="/home"><i class="fas fa-home"></i><span>Inicio</span></a>
            <a href="subjects.html"><i class="fas fa-graduation-cap"></i><span>Asignaturas</span></a>
            <a href="tutors.html"><i class="fas fa-chalkboard-user"></i><span>Tutores</span></a>        
        </nav>
    </div>
<!-- side bar section ends-->



 <!-- js file link -->
 <script src="static/js/script.js"></script>



</body>
</html>